.alert {
    $root: &;
    box-shadow: 2px 2px 8px 0 rgba($color--black, 0.3);
    border-radius: $border-radius--m;
    margin-bottom: ($gutter * 3);
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        padding: ($gutter * 0.75) $gutter;
    }

    &__heading {
        color: $color--white;
    }

    &__content {
        padding: $gutter;
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-inline-end: ($gutter * 0.5);
        height: 20px;
    }

    &--note {
        #{$root}__header {
            background-color: $color--primary;
        }

        #{$root}__content {
            background-color: $color--extra-light-teal;
        }
    }

    &--warning {
        #{$root}__header {
            background-color: $color--blue;
        }

        #{$root}__content {
            background-color: $color--extra-light-blue;
        }
    }

    // Extra specificity to override default StreamField values
    .streamfield & {
        #{$root}__heading {
            @include rem-font-size($base-font-size);
            font-weight: 700;
            /* stylelint-disable-next-line declaration-no-important */
            margin: 0 !important;
            line-height: 1;
        }
    }
}
