.alert {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    .alert__type-Note {
        background-color: $color--primary;
    }
    .alert__body-Note {
        background-color: #e0eff0;
    }

    .alert__type-Warning {
        background-color: #2f128d;
    }
    .alert__body-Warning {
        background-color: #e6e3f1;
    }
}
