.app {
    &__header {
        position: relative;
        padding-bottom: $gutter;
        grid-column: 1 / span 2;

        @include media-query(large) {
            grid-column: 1 / span 2;
            padding-bottom: ($gutter * 2);
        }
    }

    &__content {
        position: relative;
        z-index: 4;
        grid-column: 1 / span 2;

        @include media-query(large) {
            grid-column: 4 / span 7;
            min-height: 950px; // never go below the height of the left column
            margin-top: ($gutter * 3);
            padding-bottom: (
                $gutter * 5
            ); // prevent content butting up against footer
        }
    }
}
