.app {
    &__header {
        position: relative;
        grid-column: 1 / span 2;
        padding-bottom: ($gutter * 2);
        background-color: $color--white;

        // Fill to the left with the same background colour
        &::before {
            content: "";
            position: absolute;
            z-index: -1px;
            left: 1px;
            top: 0;
            height: 100%;
            width: 500%;
            transform: translate3d(-100%, 0, 0);
            background-color: $color--white;
        }
    }

    &__content {
        position: relative;
        z-index: 4;
        grid-column: 4 / span 6;
        margin-top: ($gutter * 3);
        min-height: 950px; // never go below the height of the left column
        padding-bottom: (
            $gutter * 5
        ); // prevent content butting up against footer
    }
}
