html {
    font-family: $font-family-base;
    font-size: calc(($base-font-size / 16px) * 100%);
    line-height: $base-line-height;
    color: $color--black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $color--page-bg;
}

a {
    color: $color--primary;
    transition: color $transition;

    &:hover,
    &:focus {
        color: $color--black;
    }
}
