.header {
    position: sticky;
    top: ($gutter * 1.5);

    &__identity {
        margin-bottom: ($gutter * 2);
    }

    &__logo-link {
        display: block;
        position: relative;
        inset-inline-start: -48px;
        transition: opacity $transition;

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    &__strapline {
        @include rem-font-size(29px); // one off font size
        font-weight: 300;
        letter-spacing: -0.5px;
    }

    &__actions {
        display: flex;
        align-items: center;
        position: relative;
        top: -$gutter;
    }

    &__search-toggle {
        position: relative;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-start: 20px;
        transition: opacity $transition;

        &::before {
            content: "";
            position: absolute;
            inset-inline-start: -24px;
            height: 30px;
            width: 1px;
            background-color: $color--off-black;
            margin-inline-start: 20px;
            margin-inline-end: 20px;
        }

        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }

    &__search-icon {
        display: block;
    }
}
