.header {
    $root: &;
    margin-top: $gutter;
    width: calc(100% + 16px); // burger align with right edge of lang

    @include media-query(large) {
        position: sticky;
        width: auto;
        top: ($gutter * 2.5);
        margin-top: ($gutter * 2.5);
    }

    &__identity {
        position: relative;
        z-index: 6; // sit above primary nav overlay
        display: flex;

        @include media-query(large) {
            flex-direction: column;
            margin-bottom: ($gutter * 2);
        }

        // Mask off menu behind logo
        &::after {
            .no-scroll & {
                content: '';
                pointer-events: none;
                position: absolute;
                z-index: -1;
                inset: -20px;
                background: linear-gradient(
                    180deg,
                    rgba($color--page-bg, 1) 0%,
                    rgba($color--page-bg, 1) 40%,
                    rgba($color--page-bg, 0) 100%
                );
                height: 160px;

                // stylelint-disable-next-line max-nesting-depth
                @include media-query(large) {
                    content: none;
                }
            }
        }
    }

    &__logo-link {
        width: 100%;
        height: 100%;

        &--dark {
            display: none;
        }
    }

    &__logo-link {
        display: block;
        position: relative;
        transition: opacity $transition;
        width: 48px;
        margin-inline-end: ($gutter * 0.5);
        overflow: hidden;

        @include media-query(large) {
            width: auto;
            inset-inline-start: -48px;
            margin-inline-end: 0;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    &__strapline {
        @include rem-font-size(29px); // one off font size
        font-weight: 300;
        letter-spacing: -0.5px;

        @include media-query(large) {
            @include rem-font-size(21px); // prevent wrapping
        }

        @media only screen and (min-width: $header-large-width) {
            @include rem-font-size(29px); // one off font size
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        inset-inline-start: 48px;

        @include media-query(large) {
            position: relative;
            top: -$gutter;
            inset-inline-start: 0;
        }
    }

    &__burger {
        position: absolute;
        inset: 15px 12px auto auto;

        @include media-query(large) {
            display: none;
        }
    }

    &__search-toggle {
        position: absolute;
        inset: 17px 50px auto auto;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        height: 40px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-start: 20px;
        transition: opacity $transition;

        @include media-query(large) {
            position: relative;
            inset: auto;

            &::before {
                content: '';
                position: absolute;
                inset-inline-start: -24px;
                height: 30px;
                width: 1px;
                background-color: $color--off-black;
                margin-inline-start: 20px;
                margin-inline-end: 20px;
            }
        }

        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }

    &__search-icon {
        display: block;
        fill: $color--black;
    }

    .theme-dark & {
        #{$root}__logo {
            display: none;

            &--dark {
                display: block;
            }
        }

        #{$root}__search-toggle {
            &::before {
                background-color: $color--light-grey;
            }
        }

        #{$root}__search-icon {
            fill: $color--white;
        }
    }

    .theme-dark.no-scroll & {
        #{$root}__identity {
            &::after {
                background: linear-gradient(
                    180deg,
                    rgba($color--off-black, 1) 0%,
                    rgba($color--off-black, 1) 40%,
                    rgba($color--off-black, 0) 100%
                );
            }
        }
    }
}
