.language-selector {
    $root: &;
    overflow: hidden;

    &__toggle {
        @include fs(xxs);
        font-weight: 500;
        padding: 10px;
        background-color: $color--white;
        border: 1px solid rgba($color--grey, 0.4);
        border-radius: $border-radius--m;
        color: $color--off-black;
        cursor: pointer;
        transition: color $transition;

        @include media-query(large) {
            @include fs(xs);
            font-weight: 700;
        }

        &:hover,
        &:focus {
            color: $color--primary;
        }
    }

    &__dropdown {
        --bs-dropdown-bg: #{$color--white};
        overflow: hidden;
        border-radius: $border-radius--m;
        border: 1px solid rgba($color--off-black, 0.15);
        box-shadow: 0 0.5rem 1rem rgba($color--black, 0.15);
        padding: 0.5rem 0;
    }

    &__dropdown-item {
        @include fs(xxs);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
        width: auto;
    }

    .theme-dark & {
        #{$root}__toggle,
        #{$root}__dropdown {
            background-color: $color--black;
            color: $color--light-grey;
        }
        #{$root}__dropdown-item {
            &:hover,
            &:focus {
                background-color: $color--grey;
            }
        }
    }
}
