.language-selector {
    $root: &;

    &__toggle {
        @include fs(xs);
        font-weight: 700;
        padding: 10px;
        background-color: $color--white;
        border: 1px solid rgba($color--grey, 0.4);
        border-radius: $border-radius--m;
        color: $color--off-black;
        cursor: pointer;
        transition: color $transition;

        &:hover,
        &:focus {
            color: $color--primary;
        }
    }

    &__dropdown {
        overflow: hidden;
    }

    .theme-dark & {
        #{$root}__toggle,
        #{$root}__dropdown {
            background-color: $color--black;
            color: $color--light-grey;
        }
    }
}
