.language-selector {
    overflow: hidden;

    &__toggle {
        @include fs(xxs);
        font-weight: 500;
        padding: 10px;
        background-color: var(--color-background-standout);
        border: 1px solid rgba($color--grey, 0.4);
        border-radius: $border-radius--m;
        color: var(--color-text);
        cursor: pointer;
        transition: color $transition;

        @include media-query(large) {
            @include fs(xs);
            font-weight: 700;
        }

        &:hover,
        &:focus {
            color: var(--color-active);
            border-color: var(--color-active);
        }
    }

    &__dropdown {
        --bs-dropdown-bg: var(--color-background-standout);
        overflow: hidden;
        border-radius: $border-radius--m;
        border: 1px solid rgba($color--off-black, 0.15);
        box-shadow: 0 0.5rem 1rem rgba($color--black, 0.15);
        padding: 0.5rem 0;
        background-color: var(--color-background-standout);
        color: var(--color-text);
    }

    &__dropdown-item {
        @include fs(xxs);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
        width: auto;

        &:hover,
        &:focus {
            color: light-dark(currentcolor, $color--light-teal);
            border-color: light-dark(currentcolor, $color--light-teal);
        }
    }
}
