.language-selector {
    $root: &;
    overflow: hidden;

    @include media-query(large) {
        max-width: 200px;
        min-width: 200px;
        width: 200px;
    }

    &__toggle {
        @include fs(xxs);
        font-weight: 500;
        padding: 10px;
        background-color: $color--white;
        border: 1px solid rgba($color--grey, 0.4);
        border-radius: $border-radius--m;
        color: $color--off-black;
        cursor: pointer;
        transition: color $transition;

        @include media-query(large) {
            @include fs(xs);
            font-weight: 700;
        }

        &:hover,
        &:focus {
            color: $color--primary;
        }
    }

    &__dropdown {
        overflow: hidden;
    }

    &__dropdown-item {
        @include fs(xxs);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
        width: auto;
    }

    .theme-dark & {
        #{$root}__toggle,
        #{$root}__dropdown {
            background-color: $color--black;
            color: $color--light-grey;
        }
    }
}
