.link-block {
    $root: &;

    &__container {
        display: flex;
        align-items: flex-start;
        margin-inline-end: ($gutter * 2);

        @include media-query(large) {
            align-items: flex-end;
        }
    }

    &__icon {
        width: 50px;
        margin-inline-end: ($gutter * 0.5);
    }

    &__heading {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 5px;
    }

    &__description {
        font-size: 14px;
        line-height: 1.2;
    }

    &:hover,
    &:focus {
        cursor: pointer;

        #{$root}__heading {
            color: $color--secondary;
        }

        .footer-svg__path {
            fill: $color--secondary;
        }
    }

    &__description {
        font-size: 14px;
    }
}
