.nav-button {
    @extend .d-flex;
    @extend .p-2;
    @extend .bg-transparent;
    @extend .border;
    @extend .border-dark;
    @extend .rounded;
    &:hover,
    &:focus {
        @extend .bg-dark;
        @extend .text-light;
    }
    &__left-arrow {
        transform: rotateZ(180deg);
    }

    &__label {
        font-size: 16px;
        font-weight: 700;
    }
}
