.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: ($gutter * 3);
    flex-direction: column;

    @include media-query(medium) {
        flex-direction: row;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: ($gutter * 0.5) $gutter;
        border: 1px solid light-dark($color--off-black, $color--light-grey);
        border-radius: $border-radius--lg;
        color: light-dark($color--blue, $color--white);
        text-decoration: none;
        transition: color $transition;
        margin-bottom: ($gutter * 0.5);

        @include media-query(medium) {
            margin-bottom: 0;
        }

        svg {
            width: 30px;
            height: 25px;
            fill: light-dark($color--teal, $color--light-teal);
        }

        &[rel='prev'] svg {
            transform: rotateZ(180deg);
        }
    }

    &__label {
        @include fs(xs);
        font-weight: 700;
    }
}
