.navigation {
  @extend .nav;
  @extend .nav-pills;
  @extend .flex-column;
  @extend .mb-3;
  &__item {
    @extend .nav-item;
  }
  &__link {
    @extend .nav-link;
    @extend .small;
    &:hover {
      background-color: darken($body-bg, 5);
    }
    &--large {
      @extend .mb-1;
      font-size: $font-size-sm * 1.6;
      font-weight: 400;
    }
  }
}
