.navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    .navigation {
        margin-bottom: $gutter; // keep this as small as possible to prevent scroll in left col
    }

    &__item {
        margin-bottom: 5px;
    }

    &__link {
        position: relative;
        left: -10px; // ensure vertical reading line is aligned
        width: calc(100% + 10px); // compensate for reading line adjustment
        display: block;
        padding: 5px 10px;
        border-radius: $border-radius 0 0 $border-radius;
        font-size: 14px;
        text-decoration: none;
        color: $color--off-black;
        transition: color $transition, background-color $transition;

        &:hover,
        &:focus {
            background-color: $color--light-grey;
        }

        &--heading {
            font-size: 16px;
            font-weight: 700;
        }

        &.active {
            background-color: $color--active;
            color: $color--white;
        }
    }
}
