.page-tools {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    margin-bottom: ($gutter * 2);

    @include media-query(large) {
        margin-bottom: ($gutter * 5);
    }
}
