.primary-nav {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: $color--page-bg;
    padding: ($gutter * 6) $gutter ($gutter * 2);
    top: 0;
    inset-inline-end: -$gutter;
    max-height: 100vh;
    height: 100vh;
    overflow-x: scroll;
    inset-inline-start: -10px; // ensure vertical reading line is aligned
    width: calc(100% - 10px); // compensate for reading line adjustment

    @include media-query(medium) {
        inset-inline-end: -($gutter * 3);
        padding: ($gutter * 6) ($gutter * 3) ($gutter * 2);
    }

    @include media-query(large) {
        display: block;
        padding: 0;
        padding-inline-end: $gutter;
        background-color: transparent;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: visible;
        position: relative;
        inset-inline-start: -10px;
        width: calc(100% - 10px);
    }

    &.is-visible {
        display: block;
    }
}
