.richtext-image {
    &.full-width {
        display: block;
        width: 100%;
        height: auto;
        margin-top: ($gutter * 2);
    }
    &__shadow{
        box-shadow: 0px 3px 13px;
    }
}
