.search {
  $root: &;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    position: relative;
  }

  &__container.is-loading:after {
    content: '';
    display: block;
    position: absolute;
    inset-inline-end: ($gutter * 1.6);
    inset-block-start: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    border: 2px solid light-dark($color--light-grey, $color--grey);
    border-top-color: light-dark($color--off-black, $color--light-grey);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    pointer-events: none;
  }

  &__input {
    @include fs(m);
    line-height: $base-line-height;
    border: 1px solid $color--black;
    width: 100%;
    padding: $gutter;
    border-radius: $border-radius--m;
  }
}

@keyframes spin {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search .modal-content {
  background-color: light-dark($color--white, $color--off-black);
  color: light-dark($color--off-black, $color--light-grey);
  border-radius: $border-radius--lg;
  border: 1px solid light-dark($color--light-grey, $color--grey);
}
