.section {
    $root: &;
    margin-bottom: ($gutter * 2);

    &__container {
        display: flex;
        text-decoration: none;

        &:hover,
        &:focus {
            #{$root}__heading {
                color: $color--primary;
            }

            .svg_icon__animated_path {
                transform: rotate(8deg) scale(0.8, 0.8);
                transform-origin: 50% 50%;
                transition: transform 0.1s;
            }
        }
    }

    &__icon {
        flex-basis: 16.666%;
        min-width: 16.666%;
        max-width: 16.666%;
    }

    &__heading {
        @include fs(xl);
        color: $color--black;
        margin-bottom: ($gutter * 0.5);
        font-weight: 700;
        transition: color $transition;
    }

    &__description {
        @include fs(xs);
        color: $color--grey;
    }
}
