.section {
    $root: &;
    margin-bottom: ($gutter * 2);
    max-width: $content-max-width;

    &__container {
        display: flex;
        text-decoration: none;
        flex-direction: column;

        @include media-query(large) {
            flex-direction: row;
        }

        &:hover,
        &:focus {
            #{$root}__heading {
                color: $color--primary;
            }

            .svg_icon__animated_path {
                transform: rotate(8deg) scale(0.8, 0.8);
                transform-origin: 50% 50%;
                transition: transform 0.1s;
            }
        }
    }

    &__icon {
        flex-basis: 100px;
        min-width: 100px;
        max-width: 100px;
        margin-inline-end: ($gutter * 2);
    }

    &__heading {
        @include fs(xl);
        color: $color--black;
        margin-bottom: ($gutter * 0.25);
        font-weight: 700;
        transition: color $transition;
    }

    &__description {
        @include fs(xs);
        color: $color--grey;
        margin: 0;
    }

    .theme-dark & {
        #{$root}__heading {
            color: $color--white;
        }

        #{$root}__description {
            color: $color--light-grey;
        }

        #{$root}__icon {
            .svg_icon__original_path {
                fill: $color--white;
            }

            .svg_icon__animated_path {
                opacity: 0.9;
            }
        }
    }
}
