.skip-link {
    position: absolute;
    z-index: 4;
    top: 0;
    inset-inline-start: 0;

    &__container {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__link {
        display: block;
        position: absolute;
        top: -200px;
        font-size: 14px;
        inset-inline-start: 0;
        color: $color--black;
        background-color: $color--white;
        padding: ($gutter * 0.5) $gutter;
        white-space: nowrap;

        &:focus {
            top: 0;
        }
    }
}
