.streamfield {
    h2 {
        @include fs(xl);
        margin-top: ($gutter * 2);
        margin-bottom: $gutter;
        font-weight: 700;
    }

    h3 {
        @include fs(l);
        margin-bottom: $gutter;
        font-weight: 700;
    }

    h4 {
        font-size: $base-font-size;
        margin-bottom: $gutter;
        font-weight: 700;
    }
}
