.streamfield {
    @include fs(xs);
    margin-bottom: ($gutter * 3);
    max-width: 900px;

    @include media-query(large) {
        /* stylelint-disable-next-line declaration-no-important */
        font-size: $base-font-size !important;
    }

    h2 {
        @include fs(xl);
        margin-top: ($gutter * 2);
        margin-bottom: $gutter;
        font-weight: 700;
    }

    h3 {
        @include fs(l);
        margin-bottom: $gutter;
        font-weight: 700;
    }

    h4 {
        font-size: $base-font-size;
        margin-bottom: $gutter;
        font-weight: 700;
    }

    ul,
    ol {
        margin-bottom: ($gutter * 2);
    }
}
