.toc {
    margin-bottom: ($gutter * 2);

    @include media-query(large) {
        margin-bottom: ($gutter * 3);
    }

    &__heading {
        @include fs(s);
        line-height: 1.3;
        margin-bottom: $gutter;
    }

    &__content {
        @include fs(xs);

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            ul {
                margin-left: $gutter + 10px;
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-weight: 700;
            margin-bottom: ($gutter * 0.5);

            &::before {
                content: '';
                display: inline-block;
                height: $gutter;
                width: $gutter;
                min-width: $gutter;
                margin-inline-end: 10px;
                // arrow in circle fa icon
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='black' d='M280.2 150.2c-7.1-6.4-18.1-8-25.9-4.1s-15.2 12.4-15.2 21l.002 56L152 224c-13.2 0-24 10.8-24 24v16c0 13.3 10.8 24 24 24l88-.9v56c0 9.531 5.656 18.16 14.38 22a24.025 24.025 0 0 0 25.91-4.375l96-88.75C381.2 268.3 384 261.9 384 255.2c-.313-7.781-2.875-13.25-7.844-17.75L280.2 150.2zM256 0C114.6 0 0 114.6 0 256s114.6 256 256 256 256-114.6 256-256S397.4 0 256 0zm0 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208-93.3 208-208 208z'/%3E%3C/svg%3E");
                background-color: currentColor;
            }
        }
    }
}
