.version-badge {
    display: inline-flex;
    align-items: center;
    margin-bottom: ($gutter * 0.5);
    padding: 2px 10px;
    border-radius: $border-radius--lg;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;

    &--added {
        background-color: light-dark(
            $color--extra-light-teal,
            rgba($color--light-teal, 0.15)
        );
        color: light-dark($color--teal, $color--light-teal);
    }

    &--changed {
        background-color: light-dark(
            $color--extra-light-blue,
            rgba($color--light-blue, 0.15)
        );
        color: light-dark($color--blue, $color--light-blue);
    }

    &--removed {
        background-color: light-dark(
            rgba($color--grey, 0.15),
            rgba($color--light-grey, 0.1)
        );
        color: light-dark($color--grey, $color--light-grey);
    }
}
