<div class="feedback">
    <div class="feedback__container" data-feedback-container>
        <h2 class="feedback__heading">Was this page helpful?</h2>
        <div class="feedback__options">
            <button class="feedback__button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This page was helpful" data-bs-trigger="hover" data-happy-button aria-label="happy">
                {% include "./svg/happy.svg" %}
            </button>
            <button class="feedback__button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This page could be improved" data-bs-trigger="hover" data-unhappy-button aria-label="unhappy">
                {% include "./svg/unhappy.svg" %}
            </button>
        </div>
    </div>

    <div class="feedback__form" data-additional-feedback-container>
        <div class="feedback__form-container">
            <h3 class="feedback__form-heading">Help us improve by telling what you missed</h3>
            <textarea data-feedback-text class="feedback__form-textarea" rows="3"></textarea>
            <button data-submit-button class="feedback__form-button">Submit</button>
        </div>
    </div>
</div>
