{% load i18n %}

<div class="feedback">
    {% csrf_token %}
    <div class="feedback__container" data-feedback-container>
        <h2 class="feedback__heading">{% trans 'Was this page helpful?' %}</h2>
        <div class="feedback__options">
            <button class="feedback__button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% trans 'This page was helpful' %}" data-bs-trigger="hover" data-happy-button aria-label="{% trans 'Happy' %}">
                {% include "./svg/happy.svg" %}
            </button>
            <button class="feedback__button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% trans 'This page could be improved' %}" data-bs-trigger="hover" data-unhappy-button aria-label="{% trans 'Unhappy' %}">
                {% include "./svg/unhappy.svg" %}
            </button>
        </div>
    </div>

    <div class="feedback__form" data-additional-feedback-container>
        <div class="feedback__form-container">
            <h2 class="feedback__form-heading">{% trans 'Help us improve by leaving a comment below' %}</h2>
            <label for="feedback" class="u-sr-only">{% trans 'Your feedback' %}</label>
            <textarea data-feedback-text id="feedback" class="feedback__form-textarea" rows="3"></textarea>
            <button data-submit-button class="feedback__form-button">{% trans 'Submit' %}</button>
        </div>
    </div>
</div>
