
<div class="footer">
    <div class="footer__container">
        <div class="footer__link-blocks">
            <div class="link-block">
                <div class="link-block__container">
                    <div class="link-block__icon">
                        {% include "./svg/info.svg" %}
                    </div>
                    <div class="link-block__content">
                        <h2 class="link-block__heading">About this guide</h2>
                        <div class="link-block__description">
                            Learn why we structured our documents like this
                        </div>
                    </div>
                </div>
            </div>

            <div class="link-block">
                <div class="link-block__container">
                    <div class="link-block__icon">
                        {% include "./svg/help.svg" %}
                    </div>
                    <div class="link-block__content">
                        <h2 class="link-block__heading">Help improve this guide</h2>
                        <div class="link-block__description">
                            Contribute to open source with no coding experience needed
                        </div>
                    </div>
                </div>
            </div>

            <div class="link-block">
                <div class="link-block__container">
                    <div class="link-block__icon">
                        {% include "./svg/wagtail.svg" %}
                    </div>
                    <div class="link-block__content">
                        <h2 class="link-block__heading">Wagtail</h2>
                        <div class="link-block__description">
                            Visit Wagtail.org for more resources and Wagtail news
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__legal">
            <p class="footer__legal-text">© Copyright {% now 'Y' %}, <a href="https://github.com/Hitansh-Shah" class="footer__legal-link">Hitansh Shah</a> and contributors</p>
        </div>
    </div>
</div>
