{% load wagtailcore_tags %}

<div class="footer">
    <div class="footer__container">
        <div class="footer__link-blocks">
          {% for footer_item in footer.footer_items.all %}
            <a class="link-block" href="{{ footer_item.link }}">
                <div class="link-block__container">
                    <div class="link-block__icon">
                        {% with icon="./svg/"|add:footer_item.icon|add:".svg" %}
                            {% include icon %}
                        {% endwith %}
                    </div>
                    <div class="link-block__content">
                        <h2 class="link-block__heading">{{ footer_item.title }}</h2>
                        <div class="link-block__description">
                            {{ footer_item.description }}
                        </div>
                    </div>
                </div>
            </a>
          {% endfor %}
        </div>
        <div class="footer__legal">
            {{ footer.copyright_text|richtext }}
        </div>
    </div>
</div>
