{% load i18n manifest core_tags %}

<header class="header">

    <div class="header__container">

        <div class="header__identity">
            {% get_current_language as LANGUAGE_CODE %}
            <a class="header__logo-link" href="/{{ LANGUAGE_CODE }}/" aria-label="{{ site_title }}">
                <svg class="header__logo header__logo--dark" aria-hidden="true">
                    <use xlink:href="#wagtail-dark" />
                </svg>
                <svg class="header__logo header__logo--light" aria-hidden="true">
                    <use xlink:href="#wagtail-light" />
                </svg>
            </a>
            <div class="header__actions">
                <div class="header__strapline">{% trans 'User guide' %}</div>
                <button type="button" aria-label="{% trans 'Toggle the search form' %}" data-search-icon-button class="header__search-toggle" data-bs-toggle="modal" data-bs-target="#search-modal">
                    <svg class="header__search-icon" width="21" height="21" viewBox="0 0 24 25" aria-hidden="true">
                        <path d="M22.6855 20.7754L18.1934 16.2832C17.9688 16.1035 17.6992 15.9688 17.4297 15.9688H16.7109C17.9238 14.3965 18.6875 12.4199 18.6875 10.2188C18.6875 5.09766 14.4648 0.875 9.34375 0.875C4.17773 0.875 0 5.09766 0 10.2188C0 15.3848 4.17773 19.5625 9.34375 19.5625C11.5 19.5625 13.4766 18.8438 15.0938 17.5859V18.3496C15.0938 18.6191 15.1836 18.8887 15.4082 19.1133L19.8555 23.5605C20.3047 24.0098 20.9785 24.0098 21.3828 23.5605L22.6406 22.3027C23.0898 21.8984 23.0898 21.2246 22.6855 20.7754ZM9.34375 15.9688C6.1543 15.9688 3.59375 13.4082 3.59375 10.2188C3.59375 7.07422 6.1543 4.46875 9.34375 4.46875C12.4883 4.46875 15.0938 7.07422 15.0938 10.2188C15.0938 13.4082 12.4883 15.9688 9.34375 15.9688Z" />
                    </svg>
                </button>
            </div>
            <div class="header__burger">
                <button class="burger" data-mobile-menu-toggle aria-haspopup="true" aria-expanded="false" aria-label="{% trans 'Mobile menu toggle' %}">
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                </button>
            </div>
        </div>

        <div class="header__navigation">
            {% include "components/navigation.html" %}
        </div>

    </div>

</header>
