{% load wagtailcore_tags core_tags manifest %}

<div class="d-flex mt-5 flex-wrap justify-content-between">
    {% if previous %}
      <a href="{% pageurl previous %}" class="text-decoration-none">
        <button class="nav-button m-1 ms-0">
          <div class="d-flex justify-content-center align-items-center">
            <img src="{% manifest 'images/arrow.svg' %}" width="30px" height="25px" class="nav-button__left-arrow">
            <div class="nav-button__label px-2 pe-3">
              {{ previous }}
            </div>
          </div>
        </button>
      </a>
    {% endif %}
    {% if next %}
      <a href="{% pageurl next %}" class="text-decoration-none">
        <button class="nav-button m-1 me-0">
          <div class="d-flex justify-content-center align-items-center">
            <div class="nav-button__label px-2 ps-3">
              {{ next }}
            </div>
            <img src="{% manifest 'images/arrow.svg' %}" width="30px" height="25px">
          </div>
        </button>
      </a>
    {% endif %}
</div>
