{% load manifest %}

<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="search" action="{% url 'search' %}" method="get">
                <div class="search__container modal-body">
                    <label for="search" class="u-sr-only">Search</label>
                    <input type="text" id="search" name="query" data-search-input placeholder="Search..." class="search__input">
                    <button type="submit" class="search__button" aria-label="Search">
                        {% include "./svg/search.svg" %}
                    </button>
                </div>
            </form>
            <div class="autocomplete">
                <div data-results-count-container></div>
                <div class="autocomplete__container" data-results></div>
            </div>
        </div>
    </div>
</div>
