<div class="col mx-2">
    <a href="#" class="d-flex text-decoration-none text-black doc-mode">
        <div>
          <img src="/static/images/{{self.section}}.svg" width="60px">
        </div>
        <div class="container doc-mode__container">
          <div class="row doc-mode__row1">
            <div class="h3 fw-bold doc-mode__heading">{{ self.title }}</div>
          </div>
          <div class="row doc-mode__row2">
            <div class="col">
              <p>{{ self.text }}</p>
            </div>
          </div>
        </div>
    </a>
</div>