{% load core_tags wagtailcore_tags wagtailuserbar manifest %}

{% wagtail_site as current_site %}
<!DOCTYPE html>
<html lang="{% block lang %}{% get_language_from_language_code self.locale.language_code %}{% endblock %}" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
            <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% comment %}
        We don’t want older versions of the documentation to show up in search results.
        So we block all non-latest pages indexing with the robots=noindex meta tag.
        {% endcomment %}
        {% if SEO_NOINDEX or "latest" not in self.locale.language_code %}
        <meta name="robots" content="noindex">
        {% endif %}

        {# Open links in a new tab if the page is rendered in the preview panel #}
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% manifest 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% manifest 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% manifest 'images/favicon-16x16.png' %}">

        {# alternate tags #}
        {% hreflangs %}

        {% comment %}
            Twitter summary card - see https://dev.twitter.com/cards/types/summary
            and https://dev.twitter.com/cards/getting-started
        {% endcomment %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@wagtailcms" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}">
        <meta name="twitter:image" content="{{ current_site.root_url }}{% manifest 'images/social-image.png' %}">

        {# facebook opengraph tags #}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.root_url }}{{ page.url }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta name="og:image" content="{{ current_site.root_url }}{% manifest 'images/social-image.png' %}">
        <meta property="og:description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}" />
        <meta property="og:site_name" content="{{ current_site.site_name }}" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% manifest 'main.css' %}">

        {# Global iconography #}
        {% include "patterns/includes/svg_sprites.html" %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="app">

        {# blocking js loaded first to ensure no flash of white on theme detection #}
        <script src="{% manifest 'blocking.js' %}"></script>

        {% include "components/skip_link.html" %}
        {% wagtailuserbar %}

        <div class="grid">
            <div class="app__header">
                {% header %}
            </div>

            <main class="app__content">
                <div class="page-tools">
                    {% include "components/theme_toggle.html" %}
                    {% include "components/language_selector.html" %}
                </div>
                <div id="main-content">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>

        <footer class="app__footer">
            {% footer %}
        </footer>

        {% include "components/search_modal.html" %}

        {# Global javascript #}
        <script>var languageCode = '{{ self.locale.language_code }}';</script>
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% manifest 'main.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
