{% load static core_tags wagtailcore_tags wagtailuserbar manifest %}

{% wagtail_site as current_site %}
<!DOCTYPE html>
<html lang="{% block lang %}{{ self.locale.language_code }}{% endblock %}" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Open links in a new tab if the page is rendered in the preview panel #}
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% manifest 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% manifest 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% manifest 'images/favicon-16x16.png' %}">

        {# alternate tag #}
        {% if page.locale.language_code and not page.locale.language_code == "en-latest" %}
            <link rel="alternate" hreflang="en" href="{{ page.full_url|hreflang_url:page.locale.language_code }}" >
        {% endif %}

        {% comment %}
            Twitter summary card - see https://dev.twitter.com/cards/types/summary
            and https://dev.twitter.com/cards/getting-started
        {% endcomment %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@wagtailcms" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}">
        <meta name="twitter:image" content="{{ current_site.root_url }}{% static 'images/social-image.png' %}">

        {# facebook opengraph tags #}
        <meta property="fb:app_id" content="{{ settings.utils.SocialMediaSettings.facebook_app_id }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.root_url }}{{ page.url }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta name="og:image" content="{{ current_site.root_url }}{% static 'images/social-image.png' %}">
        <meta property="og:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta property="og:site_name" content="{{ current_site.site_name }}" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% manifest 'main.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="app">
        {% wagtailuserbar %}

        {% include "components/skip_link.html" %}

        <div class="grid">
            <div class="app__header">
                {% include "components/header.html" %}
            </div>

            <div class="app__content" id="main-content">
                {% include "components/language_selector.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="app__footer">
            {% include "components/footer.html" %}
        </footer>

        {% include "components/search_modal.html" %}

        {# Global javascript #}
        <script src="{% manifest 'main.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
