// Configuration
@import "./vendor/normalize";

//custom font
@import "./kumbh-sans.scss";

//custom variables
@import "./variables.scss";
@import "./functions.scss";
@import "./mixins.scss";

@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// // Layout & components
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";

// // Utilities
@import "~bootstrap/scss/utilities/api";

//custom component styles
@import "./components/app";
@import "./components/section";
@import "./components/navigation";
@import "./components/nav-button.scss";
@import "./components/footer.scss";
@import "./components/rich-text.scss";
@import "./components/alert.scss";
@import "./components/section-link";
@import "./components/feedback-emoji.scss";
@import "./components/base.scss";
@import "./components/header.scss";
@import "./components/heading.scss";
@import "./components/streamfield.scss";
@import "./components/link-block.scss";
@import "./components/toc.scss";
@import "./components/dropdown-toggle.scss";
@import "./components/search.scss";
@import "./components/grid.scss";
@import "./components/language-selector.scss";
@import "./components/skip-link.scss";
@import "./components/introduction";
@import "./components/burger";
@import "./components/primary-nav";
@import "./components/error-page";
