@use "sass:list";

// Media queries
@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in $breakpoints {
            $name: list.nth($breakpoint, 1);
            $declaration: list.nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

// Layout
@mixin grid-layout() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 $gutter;
    max-width: $site-width;
    margin: 0 auto;

    @include media-query(medium) {
        padding: 0 ($gutter * 3);
    }

    @include media-query(large) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0 auto;
    }
}

// Font sizes
@mixin font-size($size) {
    @if $size == null {
        @warn 'Font size ‘#{$keyword}’ does not exist';
    } @else {
        $small-size: map-get($small-font-sizes, $size);
        font-size: $small-size;

        @include media-query(medium) {
            $medium-size: map-get($medium-font-sizes, $size);
            font-size: $medium-size;
        }

        @include media-query(large) {
            $large-size: map-get($large-font-sizes, $size);
            font-size: $large-size;
        }
    }
}
