// Wagtail Guide Bootstrap defaults.

// Color system
$teal:   #007d7e;
$primary: $teal;
$body-bg: #f5f3f8;

// Typography
$font-size-root:             null !default;
$font-size-base:             1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:               $font-size-base * .875 !default;
$font-family-base:           Kumbh Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// scss-docs-start nav-variables
$nav-link-padding-y:                .25rem;
$nav-link-padding-x:                .5rem;
$nav-link-font-size:                $font-size-sm;
$nav-link-font-weight:              600;
$nav-link-color:                    #262626;
$nav-link-hover-color:              black;
$nav-link-color:                    #262626 !default;
$nav-link-hover-color:              black !default;
$nav-pills-link-active-bg:          #2e1f5e;
