// Wagtail Guide Bootstrap defaults.

// Color system
$color--teal: #007d7e;
$color--light-teal: #80d7d8;
$color--light-grey: #f5f3f8;
$color--grey: #5c5c5c;
$color--off-black: #262626;
$color--black: #000;
$color--blue: #2e1f5e;
$color--white: #fff;
$color--grid-line-light: rgba($color--white, 0.05);
$color--grid-line-dark: rgba($color--black, 0.05);

// Mapping colours
$color--primary: $color--teal;
$color--secondary: $color--light-teal;
$color--active: $color--blue;
$color--page-bg: $color--light-grey;

// Typography
$font-family-base: Kumbh Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji,
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// scss-docs-start nav-variables
$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: 0.5rem;
$nav-link-font-size: 16px;
$nav-link-font-weight: 600;
$nav-link-color: $color--off-black;
$nav-link-hover-color: $color--black;
$nav-link-color: $color--off-black !default;
$nav-link-hover-color: $color--black !default;
$nav-pills-link-active-bg: #2e1f5e;

// Grid
$gutter: 20px;
$site-width: 1440px;

// Border radius
$border-radius: 4px;

// Transitions
$transition: 0.25ms ease-in;

// Font sizes
$base-font-size: 20px;
$base-line-height: 1.4;

$large-font-sizes: (
    xxxxl: 90px,
    xxxl: 65px,
    xxl: 40px,
    xl: 30px,
    l: 25px,
    m: 22px,
    s: 16px,
    xs: 14px,
    xxs: 14px,
);

$medium-font-sizes: (
    xxxxl: 78px,
    xxxl: 68px,
    xxl: 52px,
    xl: 38px,
    l: 28px,
    m: 26px,
    s: 20px,
    xs: 16px,
    xxs: 14px,
);

$small-font-sizes: (
    xxxxl: 44px,
    xxxl: 38px,
    xxl: 32px,
    xl: 28px,
    l: 24px,
    m: 22px,
    s: 18px,
    xs: 14px,
    xxs: 14px,
);

// Breakpoints - should match bootstrap
$breakpoints: ("medium" "(min-width: 599px)", "large" "(min-width: 1023px)");
