// Wagtail Guide Bootstrap defaults.

// Color system
$color--teal: #007d7e;
$color--light-teal: #80d7d8;
$color--light-grey: #f5f3f8;
$color--off-black: #262626;
$color--black: #000;
$color--blue: #2e1f5e;
$color--white: #fff;

// Mapping colours
$color--primary: $color--teal;
$color--secondary: $color--light-teal;
$color--active: $color--blue;
$color--page-bg: $color--light-grey;

// Typography
$font-family-base: Kumbh Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji,
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// scss-docs-start nav-variables
$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: 0.5rem;
$nav-link-font-size: 16px;
$nav-link-font-weight: 600;
$nav-link-color: $color--off-black;
$nav-link-hover-color: $color--black;
$nav-link-color: $color--off-black !default;
$nav-link-hover-color: $color--black !default;
$nav-pills-link-active-bg: #2e1f5e;

// Grid
$gutter: 20px;

// Border radius
$border-radius: 4px;

// Breakpoints - should match bootstrap
$breakpoints: ("medium" "(min-width: 599px)", "large" "(min-width: 1023px)");

// Transitions
$transition: 0.25ms ease-in-out;
