// Color system
$color--teal: #007d7e;
$color--light-teal: #80d7d8;
$color--extra-light-teal: #e0eff0;
$color--light-grey: #f5f3f8;
$color--grey: #5c5c5c;
$color--off-black: #262626;
$color--black: #000;
$color--blue: #2e1f5e;
$color--light-blue: #3178fa;
$color--extra-light-blue: #e6e3f1;
$color--white: #fff;

// Mapping colours
$color--primary: $color--teal;
$color--secondary: $color--light-teal;
$color--active: $color--blue;
$color--page-bg: $color--light-grey;

// Typography
$font-family-base: Kumbh Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    system-ui, Roboto, 'Helvetica Neue', Arial, sans-serif, Apple Color Emoji,
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// scss-docs-start nav-variables
$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: 0.5rem;
$nav-link-font-size: 16px;
$nav-link-font-weight: 600;
$nav-link-color: $color--off-black;
$nav-link-hover-color: $color--black;
$nav-link-color: $color--off-black !default;
$nav-link-hover-color: $color--black !default;
$nav-pills-link-active-bg: #2e1f5e;

// Grid
$gutter: 20px;
$site-width: 1440px;
$header-large-width: 1235px;
$content-max-width: 900px; // for optimal reading length

// Border radius
$border-radius--m: 4px;
$border-radius--lg: 6px;

// Transitions
$transition: 0.25s ease-out;

// Accessibility
$focus-outline-width: 2px;
$color-focus-outline: $color--light-blue;

// Font sizes
$base-font-size: 20px;
$base-line-height: 1.6;

$large-font-sizes: (
    xxxxl: 90px,
    xxxl: 65px,
    xxl: 40px,
    xl: 30px,
    l: 25px,
    m: 22px,
    s: 18px,
    xs: 16px,
    xxs: 14px,
    xxxs: 12px,
);

$medium-font-sizes: (
    xxxxl: 70px,
    xxxl: 55px,
    xxl: 35px,
    xl: 28px,
    l: 25px,
    m: 22px,
    s: 18px,
    xs: 16px,
    xxs: 14px,
    xxxs: 12px,
);

$small-font-sizes: (
    xxxxl: 40px,
    xxxl: 35px,
    xxl: 30px,
    xl: 26px,
    l: 24px,
    m: 22px,
    s: 18px,
    xs: 16px,
    xxs: 14px,
    xxxs: 12px,
);

// Breakpoints - should match bootstrap
$breakpoints: ('medium' '(min-width: 599px)', 'large' '(min-width: 1023px)');
