{% load wagtailcore_tags i18n %}

<div class="version-note version-note--{{ value.change_type }}">
    <div class="version-note__header">
        {% if value.change_type %}
            <div class="version-note__icon">
                {% include value.icon %}
            </div>
        {% endif %}
        <span class="version-note__label">
            {% blocktrans with change_type=value.change_type|title version=value.version %}{{ change_type }} in Wagtail {{ version }}{% endblocktrans %}
        </span>
    </div>
    <div class="version-note__body">
        {{ value.content|richtext }}
    </div>
</div>
