{%- set current_site = wagtail_site() -%}

# {{ current_site.root_page.title }}

{% if current_site.root_page.search_description -%}
> {{ current_site.root_page.search_description }}
{%- endif %}

View the full site contents: [llms-full.txt]({{ current_site.root_url }}{{ url('llms_full_txt') }})

## Table of Contents

{% for page in pages %}
- [{{ page.seo_title if page.seo_title else page.title }}]({{ page.full_url }}{{ page.reverse_subpage("markdown") }}){%- if page.search_description -%}: {{ page.search_description|safe }}{%- endif -%}
{%- endfor -%}
