{% extends "base.html" %}

{% load wagtailcore_tags core_tags %}

{% block content %}
    <h1 class="heading heading--one">{{ page.title }}</h1>

    {% if page.table_of_contents %}
        <div class="toc">
            <h2 class="toc__heading">On this page</h2>
            <div class="toc__content">
                {{ page.table_of_contents|richtext }}
            </div>
        </div>
    {% endif %}

    <div class="streamfield">
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </div>

    {% include '../components/nav_buttons.html' %}
    {% include '../components/feedback.html' %}
{% endblock %}
