{% extends "base.html" %}

{% load wagtailcore_tags core_tags i18n %}

{% block content %}
    <h1 class="heading heading--one">{{ page.title }}</h1>

    {% if page.table_of_contents %}
        <div class="toc">
            <h2 class="toc__heading">{% trans 'On this page' %}</h2>
            <div class="toc__content">
                {{ page.table_of_contents|richtext }}
            </div>
        </div>
    {% endif %}

    <div class="streamfield">
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </div>

    <p class="byline">
        <em>{% blocktrans with last_updated=page.last_published_at|date:"F j, Y" trimmed %}Last updated: {{ last_updated }}{% endblocktrans %}</em>
    </p>

    {% include '../components/nav_buttons.html' %}
    {% include '../components/feedback.html' %}
{% endblock %}
