{% extends "base.html" %}
{% load manifest wagtailimages_tags wagtailcore_tags i18n %}

{% block content %}

    <h1 class="heading heading--display">{{ page.title }}</h1>

    <p class="introduction">
        {{ page.introduction }}
    </p>

    {# Simple events promotion, commented out until the next event. #}
    {# <p class="introduction"><em>👉️ Want to learn more about Wagtail 6.0 and beyond?</em><br> Join the <a href="https://wagtail.org/blog/whats-new-in-wagtail-cms-march-2024/">What’s new in Wagtail webinar</a> on March 12th and 13th.</p> #}

    {% include_block page.sections %}

{% endblock content %}
