{% extends "base.html" %}
{% load manifest wagtailimages_tags wagtailcore_tags %}

{% block content %}

    <div class="row mt-5">
      <h1 class="col-lg-9 display-1 fw-bold">
        {{ self.title }}
      </h1>
    </div>

    <div class="row mt-5">
      <div class="col-lg-8">
        <p class="fs-5">
          This documentation is written for anyone creating content or managing
          content production in Wagtail. It covers everything you can expect when
          using a standard Wagtail site.
        </p>
      </div>
    </div>

    {% include_block page.sections %}

{% endblock content %}
